---
layout: front
title: Robin Beechey
---

<div class="home">

    {% if page.title == 'Robin Beechey' %}
    <div class="drape-wrapper row">

        <div class="drape left col-xs-6"></div>
        <div class="drape right col-xs-6">
            <div id="drape-button" class="logo-button">
                <img class="img-responsive" src="http://rb-media.s3.amazonaws.com/rb_logo1.png"/>
                <img class="loader" src="http://rb-media.s3.amazonaws.com/ajax-loader.gif"/>

            </div>
        </div>
    </div>
    <div class="white-fade"></div>
    {% endif %}


    <main id="home-page">
        <div class="keyart" id="parallax">
            <div class="keyart_layer parallax" data-speed="2" id="keyart-0"></div>
            <div class="keyart_layer parallax" data-speed="5" id="keyart-1"></div>
            <div class="keyart_layer parallax" data-speed="11" id="keyart-2"></div>
            <div class="keyart_layer parallax" data-speed="16" id="keyart-3"></div>
            <div class="keyart_layer parallax" data-speed="26" id="keyart-4"></div>
            <div class="keyart_layer parallax" data-speed="36" id="keyart-5"></div>
            <div class="keyart_layer parallax" data-speed="49" id="keyart-6"></div>
            <div class="keyart_layer parallax" data-speed="69" id="keyart-7"></div>
            <div class="keyart_layer" data-speed="100" id="keyart-8"></div>
        </div>
        <div id="main-contain">
            <div id="preview" class="row">
                <div class="col-sm-offset-3 col-sm-6 ">
                    <img src=""/>
                </div>

            </div>
            <div id="about-me">
                <div class="row my-info">
                    <div class="col-xs-12 col-sm-6 me">
                        <img class="logo" src="http://rb-media.s3.amazonaws.com/rb_logo1_svg.svg"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="title">Jr Web Developer</p>
                                <div class="links">
                                    <a href="{{ site.linkedin }}"><span class="fa fa-linkedin-square"></span></a>
                                    <a href="{{ site.angel_list }}"><span class="fa fa-angellist"></span></a>
                                    <a href="{{ site.medium }}"><span class="fa fa-medium"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 skills">
                        <div class="row">
                            {% assign frontEnd = site.data.skills.skills | where: "type", "front" %}
                            {% assign back = site.data.skills.skills | where: "type", "back" %}
                            {% assign design = site.data.skills.skills | where: "type", "design" %}

                            <div class="col-xs-12 category">
                                <h5>Front End</h5>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    {% for skill in frontEnd %}
                                    <div class="col-xs-3 col-sm-2 icon-col">
                                        <div class="icon-cover">
                                            <img class="icon" src="{{ skill.src }}"/>
                                            <div class="skill-info">
                                                <p class="name">{{ skill.name }}</p>
                                                {% for star in (1..skill.rating) %}
                                                <p class="rating-star fa fa-star"></p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-xs-12 category">
                                <h5>Back End</h5>
                            </div>

                            <div class="col-xs-12">
                                <div class="row">
                                    {% for skill in back %}
                                    <div class="col-xs-3 col-sm-2 icon-col">
                                        <div class="icon-cover">
                                            <img class="icon" src="{{ skill.src }}"/>
                                            <div class="skill-info">
                                                <p class="name">{{ skill.name }}</p>
                                                {% for star in (1..skill.rating) %}
                                                <p class="rating-star fa fa-star"></p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="col-xs-12 category">
                                <h5>Design/Misc</h5>
                            </div>

                            <div class="col-xs-12">
                                <div class="row">
                                    {% for skill in design %}
                                    <div class="col-xs-3 col-sm-2 icon-col">
                                        <div class="icon-cover">
                                            <img class="icon" src="{{ skill.src }}"/>
                                            <div class="skill-info">
                                                <p class="name">{{ skill.name }}</p>
                                                {% for star in (1..skill.rating) %}
                                                <p class="rating-star fa fa-star"></p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="portfolio">

                {% assign web = site.projects | where: "category", "web" %}
                {% assign graphics = site.projects | where: "category", "graphics" %}
                {% assign film = site.projects | where: "category", "film" %}
                {% assign misc = site.projects | where: "category", "misc" %}

                <div id="tabs" class="row">
                    <div class="col-xs-3"><a href="#web">Web</a></div>
                    <div class="col-xs-3"><a href="#graphics">Graphics</a></div>
                    <div class="col-xs-3"><a href="#film">Film</a></div>
                    <div class="col-xs-3"><a href="#misc">Misc</a></div>
                </div>

                <div class="tabContent row web" id="web">
                    {% for project in web %}
                    <div class="post-box col-xs-12 col-sm-4">
                        <div class="project">
                            <div class="image-cover">
                                <img src="{{project.image}}"/>
                                <span class="hidden-xs fa fa-picture-o"></span>
                            </div>
                            <div class="info">
                                <p class="title">{{ project.title }}</p>
                                <p class="description">{{project.description}}</p>
                                <ul>
                                    <li><p><a target="_blank" href="{{project.siteUrl}}"><span
                                            class="fa fa-external-link"></span> {{project.siteUrl}}</a></p>
                                    </li>
                                    <li><p><span class="fa fa-wrench"></span> {{project.tools}}</p></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>

                <div class="tabContent row graphics" id="graphics">
                    {% for project in graphics %}

                    <div class="post-box col-xs-6 col-sm-4">
                        <div class="project">
                            <div class="image-cover">
                                <img src="{{project.image}}"/>
                                <span class="hidden-xs fa fa-picture-o"></span>
                            </div>
                            <div class="info">
                                <p class="title">{{ project.title }}</p>
                                <p class="description">{{project.description}}</p>
                                <ul>
                                    <!--<li><p><a target="_blank" href="{{project.siteUrl}}"><i-->
                                    <!--class="fa fa-external-link"></i> {{project.siteUrl}}</a></p>-->
                                    <!--</li>-->
                                    <li><p><i class="fa fa-wrench"></i> {{project.tools}}</p></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    {% endfor %}
                </div>

                <div class="tabContent row film" id="film">
                    {% for project in film %}

                    <div class="post-box col-xs-12 col-sm-6">
                        <div class="project">
                            <div class="image-cover">
                                {{project.iframe}}
                            </div>
                            <div class="info">
                                <p class="title">{{ project.title }}</p>
                                <p class="description">{{project.description}}</p>
                                <ul>
                                    <li><p><a target="_blank" href="{{project.musicSource}}"><i
                                            class="fa fa-external-link"></i> Music By
                                        {{project.musicSource}}</a></p>
                                    </li>
                                    <li><p><i class="fa fa-wrench"></i> {{project.tools}}</p></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    {% endfor %}
                </div>

                <div class="tabContent row misc" id="misc">
                    {% for project in misc %}

                    <div class="post-box col-xs-12 col-sm-4">
                        <div class="project">
                            <div class="image-cover">
                                <img src="{{project.image}}"/>
                                <span class="hidden-xs fa fa-picture-o"></span>
                            </div>
                            <div class="info">
                                <p class="title">{{ project.title }}</p>
                                <p class="description">{{project.description}}</p>
                                <ul>
                                    <!--<li><p><a target="_blank" href="{{project.siteUrl}}"><i-->
                                    <!--class="fa fa-external-link"></i> {{project.siteUrl}}</a></p>-->
                                    <!--</li>-->
                                    <li><p><i class="fa fa-wrench"></i> {{project.tools}}</p></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>


            </div>

        </div>
    </main>
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
