//New Site
#home {
  background-color: white;
  font-weight: bolder;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  p {
    color: #19AAD1;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  a {
    color: #2d2d2d;
    text-decoration: none;
  }
  a:hover {
    color: #CF2C80;
  }
}

.about {
  background-color: #ff4b69;
}

.white-box {
  background-color: white;
  padding: 4px;
}

.me, .home {
  font-size: 68px;
  line-height: 1.2;
  color: white;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  .home {
    font-size: 50px;
    text-align: left;
  }
  .fixed-side{
    right: 20px !important;
  }
}

/* background setup */
.background {
  background-repeat: no-repeat;
  /* custom background-position */
  background-position: 50% 50%;
  /* ie8- graceful degradation */
  background-position: 50% 50% \9
  !important;
}

/* fullscreen setup */

.fullscreen,
.content-a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
  height: auto;
  min-height: 100%;
}

/* content centering styles */
.content-a {
  display: table;
}

.content-b {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

section {
  background: #9ed100;
}

#robin-sec {
  background-color: #FFD101;
}

#design-sec {
  background-color: #ff4b69;
}

#develop-sec {
  background-color: #19a5ff;
}

#stuff-sec {
  background-color: #ffb56d;
}

.design, .stuff, .develop, .robin, .up {
  transition: right, bottom, font-size 1s;
}

.middleware {
  position: fixed;
  right: 400px;
  bottom: 1000px;
  &.up{
    display: inline;
  }
}

.fixed-side {
  z-index: 1000;
  position: fixed;
  right: 40px;
  font-size: 17px;
}

.up{
  display: none;
}

.fixed-side {
  &.up{
    bottom: 180px;
    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.robin {
    bottom: 145px;
    transition: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.design {
    bottom: 110px;
    transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.develop {
    bottom: 75px;
    transition: all 850ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.stuff {
    bottom: 40px;
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.not-fullscreen {
  height: 50%;
}

//End New Site

