<!DOCTYPE html>
<html>

{% include head.html %}

    <body>

    <!--{% include header.html %}-->
    <div class="drape-wrapper row">
        <div class="drape left col-xs-6"></div>
        <div class="drape right col-xs-6">
            <div id="drape-button" class="logo-button">
                <img class="img-responsive" src="../img/rb_logo1.png"/>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    <!--{% include footer.html %}-->

    </body>

</html>
